# Whitelist: ignore everything, then opt files in explicitly.
/*
!/.gitignore
!/README.md
!/blueprint.json
!/bin/
!/wp-cli.yml
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/profchoice/
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/profchoicecore/
!/.github/
